header {
    color: rgb(100, 200, 100);
    font-size: 40px;
    text-align: center;
}

h1 {
    display: flex;
    border: solid black;
    width: 800px;
    background-color: rgb(255, 243, 188);
}

h2 {
    display: flex;
    justify-content: left;
    background-color: rgb(200, 200, 200);
    width: 800px;
}

ul {
    width: 200px;
    margin: 1%;
    border: 2px solid gold;
    background-color: aqua;
}